<!DOCTYPE html>

<html lang="en">
  <%- include('elements/head') %>

  <body>
    <%- include('elements/header') %>

    <div class="jumbotron">
		  <%- include('elements/title', {title: 'Error'}) %>
      <p class="lead"><%= error %></p>
    </div>

    <%- include('elements/scripts') %>
  </body>
</html>