<!DOCTYPE html>

<html lang="en">
  <%- include('elements/head') %>

  <body class="bg-light">
    <%- include('elements/header') %>

    <div class="container">
      <%- include('elements/title', {title: 'Admin Panel'}) %>
      <%- include('elements/adminMenu') %>

      <ul class="list-group">
        <% feedbacks.forEach(feedback => { %>
          <li class="list-group-item">
            <strong><%= feedback._id %></strong>
            <hr>
            <div>
              <p class="lead"><%= feedback.message %></p>
              <form method="POST" action="/admin/feedbacks">
                <input type="hidden" name="id" value="<%= feedback._id %>">
                <div class="form-row">
                  <div class="col-md-10">
                    <input type="number" class="form-control" min="0" max="100" name="ranking">
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-block">Rate it</button>
                  </div>
                </div>
              </form>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  </body>

  <%- include('elements/scripts') %>
</html>